{% extends 'tables/table_pipelines_general.html' %}
{% block header %}
<th class="col-1"></th>
<th class="col-1">ID</th>
<th class="col-2">Git Tree</th>
<th class="col-2">Date</th>
<th class="col-2">Version</th>
{% include 'tables/head_pipeline_jobs.html' %}
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td class="col-1" data-target="#collapse-{{ pipeline.pipeline_id }}"
      data-toggle="collapse" data-group-id="grandparent" data-role="expander"
      aria-expanded="false" aria-controls="collapse-{{ pipeline.pipeline_id }}">
    <div>
      <i title="Expand details" class="fas fa-caret-down rotate-if-collapsed"></i>
    </div>
  </td>
  <td class="col-1">
      <a href="/pipeline/{{pipeline.pipeline_id}}">{{ pipeline.pipeline_id }}</a>
      {% if pipeline.stats_has_issue_records %}
      <i class="fas fa-bug text-danger"></i>
      {% endif %}
      {% if pipeline.stats_has_issue_records_bot_generated %}
      <i class="fas fa-robot text-danger"></i>
      {% endif %}
  </td>
  <td class="col-2">{{ pipeline.gittree.name }}</td>
  <td class="col-2">{{ pipeline.created_at }}</td>
  <td class="col-2">{{ pipeline.kernel_version }}</td>
  {% include 'tables/cell_pipeline_jobs.html' %}
</tr>

<tr class="collapse" id="collapse-{{ pipeline.pipeline_id }}" aria-expanded="true">
  <td colspan="9">
    <table class="table table-bordered">
      <tbody>
      {% for run in pipeline.lint_jobs.all %}
        {% if not run.success and run.log %}
        {% include 'card_issue_log.html' %}
        {% endif %}
      {% endfor %}
      {% for run in pipeline.merge_jobs.all %}
        {% if not run.success and run.log %}
        {% include 'card_issue_log.html' %}
        {% endif %}
      {% endfor %}
      {% for run in pipeline.build_jobs.all %}
        {% if not run.success and run.log %}
        {% include 'card_issue_log.html' %}
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
{% endblock %}
