{% extends 'tables/table_pipelines_general.html' %}
{% block header %}
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td title="Pipeline ID" class="col-4"> <a href="/pipeline/{{pipeline.pipeline_id}}">
    {{ pipeline.pipeline_id }}
    {% if pipeline.has_targeted_tests %}
    <i class="fas fa-bullseye text-success" title='Has targeted tests'></i>
    {% endif %}
  </a></td>
  <td title="Git Tree" class="col-4">{{ pipeline.gittree.name }}</td>
  {% include 'tables/cell_pipeline_jobs.html' %}
</tr>
{% endblock %}
