{% extends 'tables/table_pipelines_general.html' %}
{% block header %}
<th class="col-1">ID</th>
<th class="col-2">Git Tree</th>
<th class="col-1">Commit</th>
<th class="col-4">Version</th>
<th class="col-4">Created On</th>
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td class="col-1">
      <a href="/pipeline/{{pipeline.pipeline_id}}">{{ pipeline.pipeline_id }}</a>
      {% if pipeline.stats_has_issue_records %}
      <i class="fas fa-bug text-danger"></i>
      {% endif %}
      {% if pipeline.stats_has_issue_records_bot_generated %}
      <i class="fas fa-robot text-danger"></i>
      {% endif %}
  </td>
  <td class="col-2">{{ pipeline.gittree.name }}</td>
  <td class="col-1">{{ pipeline.commit_id | slice:"7"}}</td>
  <td class="col-4">{{ pipeline.kernel_version }}</td>
  <td class="col-4">{{ pipeline.created_at }}</td>
</tr>
{% endblock %}
