<div class="table-responsive">
  <table class="table table-bordered" id="buildTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th>Arch</th>
        <th>Compiler</th>
        <th>Make Opts</th>
        <th>Duration</th>
        <th>Gitlab Job</th>
        <th>Artifacts</th>
      </tr>
    </thead>
    <tbody>
    {% load timetag %}
    {% for build in pipeline.build_jobs.all %}
      <tr>
          <td>{{ build.success_style.icon|safe }}</td>
          <td>{{ build.kernel_arch.name }}</td>
          <td>{{ build.compiler.name }}</td>
          <td>{{ build.make_opts }}</td>
          <td>{{ build.duration|timetag }}</td>
          <td>{% include "link_gitlab_job.html" with jid=build.jid %}</td>
          <td data-target="#collapse-artifacts-{{ build.id }}" data-toggle="collapse"
              data-group-id="grandparent" data-role="expander">
            <div>
              <i title="View artifacts for this build." class="fas fa-box"></i>
            </div>
          </td>
      </tr>

      <tr class="collapse" id="collapse-artifacts-{{ build.id }}" aria-expanded="true">
      <td colspan="12">
        <table class="table" id="artifact-table-{{ build.id }}" width="100%" cellspacing="0">
          <tbody>
          <tr>
            <td> {{build.log.name}} </td>
            <td> <a href="{{ build.log.file.url }}">{{ build.log.name }} </a></td>
          </tr>
          {% for artifact in build.artifacts.all %}
          <tr>
            <td> {{artifact.name}} </td>
            <td> <a href="{{artifact.file.url}}">{{artifact.file.url}} </a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
</div>


