{% extends 'tables/table_testrun_general.html' %}
{% block header %}
<th class="col-1">Result</th>
<th class="col-1">Arch</th>
<th class="col-5">Host</th>
<th class="col-2">Recipe</th>
<th class="col-2">Beaker Task</th>
<th class="col-1"></th>
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td class="col-1" align="center" class="{{ testrun.passed_style.cell }}" title="{{testrun.result.name}}">
    {{ testrun.passed_style.icon|safe }}
    <i title="Waived test (this result does not affect overall test result)"  class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
  </td>
  <td class="col-1">
    {{ testrun.kernel_arch.name }}
    {% if testrun.kernel_debug %}
    (debug)
    {% endif %}
  </td>
  <td class="col-5">{% include "link_beaker_host.html" with item=testrun.beakertestrun.beaker_resource %}</td>
  <td class="col-2">{% include "link_beaker_recipe.html" with test=testrun.beakertestrun %}</a></td>
  <td class="col-2">{% include "link_beaker_task.html" with test=testrun.beakertestrun %}</a></td>
  <td class="col-1" data-target="#collapse-logs-{{ testrun.recipe_id }}{{ testrun.test.id }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander"><div><i title="View log files for this test" class="fas fa-scroll"></i></div></td>
</tr>
<tr class="collapse" id="collapse-logs-{{ testrun.recipe_id }}{{testrun.test.id}}" aria-expanded="true">
  <td colspan="6">
    <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
      <tbody>
      {% for log in testrun.logs.all %}
      <tr>
        <td> {{log.name}} </td>
        <td> <a href="{{log.file}}">{{log.file}} </a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
{% endblock %}
