{% extends "base.html" %}

{% block title %}
Failed Pipelines
{% endblock %}

{% block header %}
Failed Pipelines
{% endblock %}

{% block content %}

<ul class="nav nav-tabs mb-3">
  <li class="nav-item"><a class="nav-link {% if group == "all" %}active{% endif %}" href="all">All</a></li>
  {% for stage in stages %}
    <li class="nav-item"><a class="nav-link {% if group == stage.name %}active{% endif %}" href="{{ stage.name }}">{{ stage.name|title }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    <div class="card shadow mb-4">
      <div class="card-body">
        {% include 'tables/table_pipelines_failures.html' %}
      </div>
    </div>
    {% include 'paginator.html' with paginator=pipelines %}
  </div>
</div>

{% endblock %}
