{% extends "base.html" %}

{% block title %}
Issues
{% endblock %}

{% block header %}
Issues List
{% load addstr %}
{% include 'search.html' with name="search" action="/issue/list/"|addstr:group placeholder="Search for issues..." clearhref="/issue/list/"|addstr:group %}
{% endblock %}

{% block content %}

{% include 'modal_issue.html' with action="edit" redirect_to='/issue/list/'|addstr:group %}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link {% if group == "unresolved" %}active{% endif %}" href="unresolved?search={{ search }}">Unresolved</a></li>
    <li class="nav-item"><a class="nav-link {% if group == "resolved" %}active{% endif %}" href="resolved?search={{ search }}">Resolved</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
    {% for issue in issues %}
      {% include "card_issues_list.html" %}
    {% endfor %}
    {% include 'paginator.html' with paginator=issues extra_arguments="&search="|addstr:search %}
  </div>
</div>

{% endblock %}
