{% extends "base.html" %}

{% block title %}
Pipelines Submitter
{% endblock %}

{% block header %}
Pipelines Submitter
{% include "search.html" with name="search" action="/pipeline/submitter" placeholder="Brew Owner" clearhref="/pipeline/submitter" %}
{% endblock %}

{% block content %}

<div class="alert alert-warning" role="alert">
  🙋 <strong>Heads up!</strong> This search page only looks through Brew builds.
</div>

{% if not emptypage %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Pipelines</h6>
  </div>
  <div class="card-body">
    {% include 'tables/table_pipelines_general.html' %}
  </div>
</div>

{% load addstr %}
{% include 'paginator.html' with paginator=pipelines extra_arguments="&search="|addstr:search %}

{% endif %}

{% endblock %}
