<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <title>CKI - Pipeline</title>

  {% include 'styles.html' %}

  <!-- Code highlighting -->
  <link href="/static/css/prism.css" rel="stylesheet" />

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          {% include 'search_bar.html' %}

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          </ul>

        </nav>
        <!-- End of Topbar -->

        {% include 'modal_new_issue_record.html' %}

        {% load addstr %}
        {% include 'modal_issue.html' with action="new" redirect_to="/pipeline/"|addstr:pipeline.pipeline_id|addstr:"#issuerecord" %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h1 class="h3 mb-2">
                  Pipeline {% include "link_gitlab_pipeline.html" %}
                </h1>
              </div>
              <div class="col" align="right">
                {% include 'pipeline_details_header.html' %}
              </div>
            </div>

          <div class="col-xl-4 col-md-6 mb-4">
            <div class="row">
              {% include 'pipeline_actions_dropdown.html' %}
            </div>
          </div>

          <div class="row">

            <!-- Issue Record cards -->
            {% for record in issue_records %}
            {% include 'card_issue_record.html' %}
            {% endfor %}
            <!-- End Issue Record cards -->

            {% with stage=pipeline.all_stage %}
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-bottom-{{ stage.style.color }} shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">{{ stage.name }} Status</div>
                      <div class="h5 mb-0 font-weight-bold text-{{ stage.style.color }}">{{ stage.status }}</div>
                    </div>
                    <div class="col-auto">
                    {{ stage.style.icon_big|safe }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endwith %}
          </div>


          <div class="row">

            {% with stage=pipeline.lint_stage %}
            {% include 'card_stage_status.html' %}
            {% endwith %}

            {% with stage=pipeline.merge_stage %}
            {% include 'card_stage_status.html' %}
            {% endwith %}

            {% with stage=pipeline.build_stage %}
            {% include 'card_stage_status.html' %}
            {% endwith %}

            {% with stage=pipeline.test_stage %}
            {% include 'card_stage_status.html' %}
            {% endwith %}

          </div> <!-- end row -->

          {% for run in pipeline.lint_jobs.all %}
            {% if not run.success and run.log %}
            {% include 'card_issue_log.html' %}
            {% endif %}
          {% endfor %}

          {% for run in pipeline.merge_jobs.all %}
            {% if not run.success and run.log %}
            {% include 'card_issue_log.html' %}
            {% endif %}
          {% endfor %}

          {% for run in pipeline.build_jobs.all %}
            {% if not run.success and run.log %}
            {% include 'card_issue_log.html' %}
            {% endif %}
          {% endfor %}



          <div>
            <!-- merge table -->
            {% if pipeline.patches.count %}
            <div class="card">
              <div class="card-header" id="headingMerge">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMerge" aria-expanded="false" aria-controls="collapseMerge">
                    <h6 class="m-0 font-weight-bold text-primary">
                      <i title="Expand" class="fas fa-caret-down rotate-if-collapsed"></i>
                      Merged Patches
                      ({{ pipeline.patches.count }})
                    </h6>
                  </button>
                </h5>
              </div>

              <div id="collapseMerge" class="collapse" aria-labelledby="headingMerge">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="mergeTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Patch</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for patch in pipeline.patches.select_related %}
                        <tr>
                            <td>{% include "link_patchwork_patch.html" %}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- builds table -->
            {% if pipeline.build_jobs.count %}
            <div class="card">
              <div class="card-header" id="headingBuild">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBuild" aria-expanded="false" aria-controls="collapseBuild">
                    <h6 class="m-0 font-weight-bold text-primary">
                      <i title="Expand" class="fas fa-caret-down rotate-if-collapsed"></i>
                      Build Jobs
                      ({{ pipeline.build_jobs.count }})
                    </h6>
                  </button>
                </h5>
              </div>

              <div id="collapseBuild" class="collapse" aria-labelledby="headingBuild">
                <div class="card-body">
                {% include 'tables/table_buildrun_general.html' %}
                </div>
              </div>
            </div>
            {% endif %}

            <!-- tests table -->
            {% if test_jobs.count %}
            <div class="card">
              <div class="card-header" id="headingTest">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTest" aria-expanded="false" aria-controls="collapseTest">
                    <h6 class="m-0 font-weight-bold text-primary">
                      <i title="Expand" class="fas fa-caret-down rotate-if-collapsed"></i>
                      Test Jobs
                      ({{ test_jobs.count }})
                    </h6>
                  </button>
                </h5>
              </div>
              <div id="collapseTest" class="collapse" aria-labelledby="headingTest">
                <div class="card-body">
                {% include 'tables/table_testrun_general.html' %}
                </div>
              </div>
            </div>
            {% endif %}

          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      {% include 'footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Code highlighting -->
  <script src="/static/js/prism.js"></script>

  <!-- Open the issue record modal -->
  <script type="text/javascript">
    var url = window.location.href;
    if(url.indexOf('#issuerecord') != -1 ) {
        $('#issueRecordModal').modal('show');
    }
  </script>

</body>

</html>
