{% extends "base.html" %}

{% block title %}
Pipelines Summary
{% endblock %}

{% block header %}
Pipelines Summary
{% endblock %}

{% block content %}
<ul class="nav nav-tabs mb-3">
    <li class="nav-item"><a class="nav-link {% if selected_tree == 'all' %}active{% endif %}" href="all">All</a></li>
    {% for tree in trees %}
    <li class="nav-item"><a class="nav-link {% if tree.name == selected_tree %}active{% endif %}" href="{{ tree.name }}">{{tree.name}}</a></li>
    {% endfor %}
</ul>

<div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Latest Pipelines</h6>
  </div>
  <div class="card-body">
    {% include 'tables/table_pipelines_general.html' %}
  </div>
</div>

{% with paginator=pipelines %}
{% include 'paginator.html' %}
{% endwith %}

{% endblock %}
