<div class="col-xl-12 col-md-12 mb-2">
    <div class="card border-bottom-danger shadow h-100">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-uppercase mb-1">
              Issue
          </div>

          <div class="h5 mb-1 font-weight-bold">
            <span class="badge badge-danger" title="{{ issue.kind.description }}">{{ issue.kind.tag }}</span>
            <a href="{{issue.ticket_url}}">{{issue.description}}</a>
          </div>

          {% include 'issues_list_actions_dropdown.html' %}

          <div class="text-xs font-weight-bold text-uppercase mt-2 mb-1">
              List of Records
          </div>

          {% include 'tables/table_pipelines_general.html' with pipelines=issue.pipelines show_badges=False %}
        </div>
      </div>
    </div>
  </div>
</div>

