<!-- Delete Record Modal -->
<div class="modal fade" id="deleteRecord{{ record.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteRecord{{ record.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="deleteRecord{{ record.id }}Label">Confirm action.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete this issue record?
          <br/>
          <br/>
          <i>{{ record.issue.description }}</i>
          <br/>
          <br/>
          <b>This action cannot be undone.</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form method="post" action="/pipeline/{{pipeline.pipeline_id}}/issue/{{record.id}}/delete">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Record Modal -->

<div class="col-xl-12 col-md-12 mb-2">
    <div class="card border-bottom-danger shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-uppercase mb-1">
              Issue Record

              {% if record.bot_generated %}
              <span class="badge badge-primary" style="background-color: #3399FFA0" title="Beep beep. This issue was recorded by a script.">Bot Generated</span>
              {% endif %}

              <button type="button" class="close" href="#" data-toggle="modal" data-dismiss="modal" data-target="#deleteRecord{{ record.id }}">
                <span>&times;</span>
              </button>
          </div>
          <div class="h5 mb-1 font-weight-bold">
            {% include 'issue_kind_badge.html' %}
            <a href="{{record.issue.ticket_url}}">
                {{record.issue.description}}
            </a>
          </div>
          {% with test_jobs=record.testruns.all %}
          {% include 'tables/table_testrun_issue_record.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
