<div class="card shadow mb-1">
  <div class="card-header py-1">
    <div class="row">
      <div class="col-sm-8">
          <h6 class="m-1 font-weight-bold">{% include "link_patchwork_series.html" %}</h6>
      </div>
      <div class="col-sm-4" align="right">
         <a href="/patches/submitter?search={{series.submitter.email}}">{{ series.submitter }}</a>
      </div>
    </div>
  </div>
  <div class="card-body">
      {% if pipelines %}
      {% include 'tables/table_pipelines_series.html' %}
      {% endif %}
  </div>
</div>
