<nav aria-label="Page navigation example">
  <ul class="pagination">

    <li class="page-item {% if not paginator.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?page={{ paginator.previous_page_number }}{{ extra_arguments|default:'' }}" aria-label="Previous">Previous</a>
    </li>


    {% for page in paginator.page_range %}
      <li class="page-item {{ page.class }}">
        <a class="page-link" href="?page={{ page.label }}{{ extra_arguments|default:'' }}" style="{{ page.style }}">{{ page.label }}</a>
      </li>
    {% endfor %}

    <li class="page-item {% if not paginator.has_next %}disabled{% endif %}">
      <a class="page-link" href="?page={{ paginator.next_page_number }}{{ extra_arguments|default:'' }}" aria-label="Next">Next</a>
    </li>

  </ul>
</nav>
