<div class="row">
  <div class="col">
    <i class="fas fa-layer-group fa-sm"></i>
    {{ pipeline.project.path }}
    </br>
    <i class="fas fa-code-branch fa-sm"></i>
    {{ pipeline.gittree.name }} @ {{ pipeline.kernel_version}}
  </div>
  <div class="col-sm-3">
    <small>
      <i class="fas fa-hourglass-start"></i>
      <span title="Created At">
        {{ pipeline.created_at|date:"d M Y H:i:s" }}
      </span>
    </br>
      <i class="fas fa-hourglass-end"></i>
      <span title="Finished At">
        {{ pipeline.finished_at|date:"d M Y H:i:s"|default:'Running' }}
      </span>
    </small>
  </div>
</div>
