<!-- Topbar Search -->
<form id='search_form' class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search" onsubmit="goto_pipeline()">
  <div class="input-group">
    <input type="text" id='search_pipeline' class="form-control bg-light border-0 small" placeholder="Go to pipeline # .." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

<script>
function goto_pipeline(){
    search_form.action = "/pipeline/" + document.getElementById('search_pipeline').value ;
}
</script>
