table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
table.sortable th {
    cursor: pointer
}
[data-toggle="collapse"][aria-expanded="false"] .rotate-if-collapsed {
    transform: rotate(-90deg);
}
.gitlab_icon, .beaker_icon, .patchwork_icon {
    white-space: nowrap;
}
.gitlab_icon::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f296  ";
}
.beaker_icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c3  ";
}
.patchwork_icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f550  ";
}
/* input clear buttons */
.input-clear {
    background-color: white;
}
/* font size 14px in tables similar to Gitlab */
.table {
    font-size: 0.875rem;
}
.table th, .table td {
    padding: 0.4rem;
}
/* accessibility: increase contrast */
.table, body, .form-control, .form-control:focus, .input-clear {
    color: #404040;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#collapseUtilities{
    z-index: 2;
}

.col-1-big {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
